.about-us-container {
    padding: 16px;
  }
  
  ion-card-title {
    font-weight: bold;
  }
  
  ion-card-content p, ion-card-content ul {
    font-size: 16px;
    line-height: 1.6;
  }
  
  ion-card-content ul {
    padding-left: 20px;
  }
  